.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;

  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 25px;
}

.normal {
  background-color: #a6a877;
}

.grass {
  background-color: #77c850;
}

.fire {
  background-color: #ee7f30;
}

.water {
  background-color: #678fee;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #a8b720;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}

.pokemon {
  display: flex;
  flex-direction: column;

  padding: 0.75rem;

  color: #fff;

  border-radius: 0.75rem;
  box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.75);
}

.pokemon .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.05rem;
}

.pokemon .header :nth-child(1) {
  text-transform: capitalize;
}

.pokemon .header :nth-child(2) {
  opacity: 0.5;
  margin-bottom: 15px;
}

.pokemon .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon .details .types {
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: capitalize;
}

.pokemon .details .types .type {
  filter: brightness(1.1);
  border: 1px solid #f0f0f0f0;
  padding: 5px 15px;
  border-radius: 2rem;
  font-size: 0.75rem;
}

.pokemon .details .types .type:not(:last-child) {
  margin-bottom: 5px;
}

.pokemon .details img {
  height: 5rem;
  align-self: flex-end;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  padding: 0.25rem 0.75rem;
  background-color: #6c79db;
  color: #fff;
  margin: 0.25rem 0;
  font-size: 1.05rem;
  border: none;
  border-radius: 0.75rem;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
